# Buildtime stuff
node_modules/
.cache/

# Mac files
.DS_Store

# Gatsby context
.gatsby-context.js

# Bundle stats
bundle-stats.json

# Npm
.npm

# Yarn
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
